[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gunicorn = "*"
pandas = "*"
xgboost = "*"
scikit-learn = "*"
requests = "*"
numpy = "*"

[dev-packages]
optuna = "*"
seaborn = "*"
matplotlib = "*"
ipykernel = "*"
jupyter = "*"
ipywidgets = "*"

[requires]
python_version = "3.10"
